    geoip2 /usr/share/GeoIP2/GeoLite2-Country.mmdb {
        auto_reload 5m;
        $geoip2_metadata_country_build metadata build_epoch;
        $geoip2_data_country_code default=CN source=$remote_addr country iso_code;
        $geoip2_data_country_name country names en;
    }

    geoip2 /usr/share/GeoIP2/GeoLite2-City.mmdb {
        $geoip2_data_city_name default=Beijing city names en;
    }

    geoip2 /usr/share/GeoIP2/GeoLite2-ASN.mmdb {
        $geoip2_data_asn asn;
    }
